Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET,PUT,POST,DELETE"
Header set Access-Control-Allow-Headers "Content-Type, Authorization"

<FilesMatch "\.(htaccess|htpasswd|ini|log|sh|inc|bak|lock|py|conf)$">
Order Allow,Deny
Deny from all
</FilesMatch>
